[user]
	name = danny
	email = dbbakalov@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers

[commit]
	gpgsign = true

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[rerere]
	enabled = true

[diff]
	algorithm = histogram
	colorMoved = default

[merge]
	conflictStyle = zdiff3

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true

[alias]
	st = status -sb
	lg = log --oneline --graph --decorate
	last = log -1 HEAD --stat
	amend = commit --amend --no-edit
	unstage = restore --staged
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential

# --- NC State GitHub orgs always use the managed account's key ---
# Applies at clone time too (includeIf can't fire before a repo exists).
[url "git@github-ncstate:ncstate-csc-coursework/"]
	insteadOf = https://github.com/ncstate-csc-coursework/
	insteadOf = git@github.com:ncstate-csc-coursework/
[url "git@github-ncstate:ncstate-csc/"]
	insteadOf = https://github.com/ncstate-csc/
	insteadOf = git@github.com:ncstate-csc/
[url "git@github-ncstate:ncstate-community/"]
	insteadOf = https://github.com/ncstate-community/
	insteadOf = git@github.com:ncstate-community/

# --- NC State coursework: any ~/csc* directory uses the NCSU identity ---
[includeIf "gitdir/i:~/csc*/"]
	path = ~/dotfiles/git/.gitconfig-ncsu
